@import "templatecolours.css";

/* centres the main body of the site*/
body {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/* removes bullet points from links*/
nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* floats links to left*/
nav>ul>li {
    float: left;
}

/* re,moves underlining, centres text and applies padding*/
nav>ul>li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
}

/* applies hover colour*/
li a:hover {
    color: #363636;
}

/* sizes csdm logo*/
#csdmlogo {
    width: 300px;
}
/* sizes banner*/
#banner {
    width: 960px;
}
/* sizes head of school's image*/
#hos {
    width: 200px;
}

/* text styling*/

h1 {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

p, h2, h3, h4, h5, a {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

h3, h4, h5 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
}


/* font-family: 'Roboto', sans-serif; */