body {
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}
header img{
    width: 340px;
}
#myimg{
    width: 960px;
}
main img{
    float: left;
    margin-right: 5px;
    margin-top: 20px;
}
nav{
    text-align: center;
}
nav a{
    margin-right: 50px;
    text-decoration: none;
}
nav a:hover{
    border-bottom: 2px solid;
    border-color: aquamarine;
}
main article{
    float:left;
    font-family: roboto;
    text-align: justify;
    text-justify: inter-word;
}
footer{
    clear: both;
    text-align: center;
    height: 70px;
    background-color: black;
    color: white;
}
main{
    width: 66%;
}
aside{
    width: 33%;
    display: inline-block;
    font-family: roboto;
    font-weight: 300;

}
main article{

    padding-right:20px;

}
#latest{
    background-color: #dbc9df;
}

#event{
    background-color: #782a7e;

}